[workspace.package]
edition = "2021"
authors = ["Francesco Ceccon", "The Apibara contributors"]
repository = "https://github.com/apibara/dna"
license = "Apache-2.0"

[workspace]
resolver = "2"
members = [
    "observability",
    "etcd",
    "etcd-dbg",
    "protocol",
    "common",
    "benchmark",
    # Chains
    "beaconchain",
    "evm",
    "starknet",
]

[workspace.dependencies]
alloy-primitives = "0.8"
alloy-eips = "0.3.6"
bytes = "1.7.1"
byte-unit = "5.1.4"
clap = { version = "4.5.13", features = [
    "derive",
    "env",
    "cargo",
    "unicode",
    "color",
    "unstable-styles",
] }
ctrlc = { version = "3.4.5", features = ["termination"] }
dirs = "5.0.1"
error-stack = "0.5.0"
etcd-client = { version = "0.14.0", features = ["tls", "tls-roots"] }
futures = "0.3.30"
hex = { version = "0.4.3", features = ["serde"] }
memmap2 = "0.9.4"
moka = { version = "0.12.8", features = ["future"] }
opentelemetry = { version = "0.24.0", features = ["trace", "metrics"] }
opentelemetry_sdk = { version = "0.24.1", features = [
    "trace",
    "metrics",
    "rt-tokio",
] }
opentelemetry-otlp = { version = "0.17.0", features = [
    "trace",
    "metrics",
    "grpc-tonic",
] }
pin-project = "1.1.5"
prost = "0.13.1"
prost-types = "0.13.1"
reqwest = { version = "0.12.5", default-features = false, features = [
    "json",
    "rustls-tls",
] }
rkyv = { version = "0.8.8" }
roaring = "0.10.6"
serde = { version = "1.0.205", features = ["derive"] }
serde_json = "1.0.122"
serde_with = "3.9.0"
tempdir = "0.3.7"
testcontainers = "0.22.0"
time = { version = "0.3.36", features = ["formatting", "local-offset"] }
tokio = { version = "1.39.2", features = ["full"] }
tokio-stream = { version = "0.1.15", features = ["sync", "net"] }
tokio-util = "0.7.11"
tonic = { version = "0.12.1", features = ["tls", "tls-roots", "prost"] }
tonic-build = "0.12.2"
tonic-health = "0.12.2"
tonic-reflection = "0.12.2"
tracing = { version = "0.1.40", features = [
    "max_level_trace",
    "release_max_level_debug",
] }
tracing-opentelemetry = "0.25.0"
tracing-subscriber = { version = "0.3.18", features = [
    "std",
    "env-filter",
    "json",
] }
url = "2.5"
walkdir = "2.5.0"
zstd = "0.13.2"
