[package]
name = "apibara-starknet"
version = "1.6.2"
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true

[lib]
name = "apibara_dna_starknet"
path = "src/lib.rs"

[[bin]]
name = "apibara-dna-starknet"
path = "src/bin.rs"

[features]
default = ["jemalloc"]
jemalloc = ["dep:jemallocator"]

[dependencies]
apibara-observability = { path = "../../observability" }
apibara-dna-common = { path = "../common" }
async-trait.workspace = true
bytes.workspace = true
clap.workspace = true
error-stack.workspace = true
flatbuffers.workspace = true
governor.workspace = true
hex.workspace = true
futures-util.workspace = true
roaring.workspace = true
tokio.workspace = true
tokio-util.workspace = true
starknet.workspace = true
tracing.workspace = true

[target.'cfg(not(windows))'.dependencies]
jemallocator.workspace = true
