name: Checks (on Linux)

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
    secrets:
      cachix-token:
        required: true

jobs:
  lint:
    name: Run linters and code checks
    runs-on: "${{ inputs.os }}"
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-24.11
      - uses: cachix/cachix-action@v15
        with:
          name: apibara-public
          authToken: "${{ secrets.cachix-token }}"
      - run: nix flake check -L --accept-flake-config

  unit-test:
    name: Run unit tests
    runs-on: "${{ inputs.os }}"
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-24.11
      - uses: cachix/cachix-action@v15
        with:
          name: apibara-public
          authToken: "${{ secrets.cachix-token }}"
      - run: nix build .#unit-tests -L --accept-flake-config

  integration-test:
    name: Run integration tests
    runs-on: "${{ inputs.os }}"
    needs:
      - lint
      - unit-test
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-24.11
      - uses: cachix/cachix-action@v15
        with:
          name: apibara-public
          authToken: "${{ secrets.cachix-token }}"
      - run: nix build .#integration-tests-archive -L --accept-flake-config
      - run: nix develop .#integration --accept-flake-config -c run-integration-tests
